<body>

<div class="container-fluid">
  <div class="row">
<!--side nav-->

  <center>
    <nav class="navbar navbar-default navbar-fixed-left navbar-offset">
      <h4>Admin panel</h4>
        <ul class="nav">
          <li><a href="#/city"><i class="fa fa-map-marker" aria-hidden="true"></i> City</a></li>
          <li><a href="#/time"><i class="fa fa-clock-o" aria-hidden="true"></i> Show Timings</a></li>
          <li><a href="#/theatre"><i class="fa fa-ticket" aria-hidden="true"></i> Theatre</a></li>
          <li><a href="#/booking"><i class="fa fa-film" aria-hidden="true"></i> Movies</a></li>
          <li><a href="#/assignmovie"><i class="fa fa-retweet" aria-hidden="true"></i> Assign movies</a></li>
        </ul>
        <br>
    </nav>
  </center>

  </div><!--row ends-->
</div><!--container-fluid ends-->

  <div class="nav1">
    <center>
      <tr>
        <th>
            <!-- <h3> Admin Panel</h3> -->
            <img src="resources/img/welcome_admin.jpg" width="85%"/>
        </th>
      </tr>
    </center>
  </div>

</body>
</html>
