<center>
<nav class="navbar navbar-default navbar-fixed-left navbar-offset">
  <h4>Admin panel</h4>
    <ul class="nav">
      <li><a href="#/city"><i class="fa fa-map-marker" aria-hidden="true"></i> City</a></li>
      <li><a href="#/time"><i class="fa fa-clock-o" aria-hidden="true"></i> Show Timings</a></li>
      <li><a href="#/theatre"><i class="fa fa-ticket" aria-hidden="true"></i> Theatre</a></li>
      <li><a href="#/booking"><i class="fa fa-film" aria-hidden="true"></i> Movies</a></li>
      <li><a href="#/"><i class="fa fa-retweet" aria-hidden="true"></i> Assign movies</a></li>
    </ul>
    <br>
</nav>
</center>
<div class="nav1">
  <center>
    <table class="table">
      <thead>
        <tr>
          <th>City</th>
          <th>Show-timing</th>
          <th>Theatre</th>
        </tr>
      </thead>
      <tbody>

        <td>
          <div ng-app="movieApp" data-ng-controller="CityController as theChildController">
            City: <select id="citySelect">
                    <option ng-repeat="place in cityList " >{{ place.placeName }}</option>
                  </select>
          </div>
        </td>
        <td>
          <div ng-app="movieApp" data-ng-controller="TimeController as theChildController">
            Showtime: <select id="timeSelect"  class="timeSelect" multiple="multiple">
                        <option ng-repeat="clock in timeList" >{{clock.clockName}}</option>
                      </select>
          </div>
        </td>
        <!-- <td>
          <div ng-app="movieApp" data-ng-controller="TheatreController as theChildController">
            theatre: <select id="theatreSelect"  class="theatreSelect" multiple="multiple">
                        <option ng-repeat="thea in theatreList" >{{thea.theaName}}</option>
                      </select>
          </div>
        </td> -->



          <td><input ng-model="thea.theaName"/></td><!--connects angular with html-->

          <td><button ng-click="addTheatre(thea)" class="btn btn-success">
          <i class="fa fa-plus"></i></button></td>

          <td><button ng-click="updateTheatre(thea)" class="btn btn-primary">
          <i class="fa fa-sign-in fa-rotate-270"></i></button></td>



      <td>
        <tr ng-repeat="thea in theatreList">
          <td>{{thea.theaCity}}</td>
          <td>{{thea.theaName}}</td>
          <td>{{thea.theaTime}}</td><!--<td>{{movi.cityName}}</td>-->


        <td><button ng-click="removeTheatre(thea)" class="btn btn-danger">
          <i class="fa fa-trash-o"></i></button></td>

        <td><button ng-click="editTheatre(thea)" class="btn btn-warning">
          <i class="fa fa-pencil-square-o"></i></button></td>
        </tr>
        </td>

      </tbody>
    </table>
  </center>
</div>
